.featured {
    width: 80%;
    margin: 0 auto;
    margin-top: 3%;
}
.featured_info {
    font-size: 26px;
    font-weight: 400;
    color: #0e7c7b;
}
.featured_title {
    font-size: 2.5vw;
    margin-top: 10px;
    margin-bottom: 30px;
}
.featured_body {
    width: 100%;
    display: flex;
}
.featured_left {
    width: 48%;
    height:760px;
    position: relative;
    cursor: pointer;
    /* overflow: hidden; */
    border-radius: 10px;
    margin-right: 12px;
}
.featured_left:hover .featured_img {
    transform: scale(1.1);
}
.featured_right {
    width: 52%;
    display: flex;
    flex-wrap: wrap;
}
.featured_img {
    width: 100%;
    height: 80% !important;
    min-height:150px;
    transition: .8s;
}
.featured_box {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 20px;
}
.featured_bottom {
    width: 100%;
    background-color: #222732;
    position: absolute;
    bottom: 0; left: 0;
    color: #fff;
    padding: 30px;
    border-radius: 0px 0px 10px 10px ;
    /* position: relative; */
    /* z-index: 1000; */
}
.featured_name {
    font-size: 22px;
    border-bottom: .5px solid #999;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.featured_name del{
    opacity: .6;
    border-top: 3px solid red;
    line-height: 0px;
}
.feat_price {
    font-size: 30px;
    margin-left: 10%;
}
.feat_price h4{
    margin-bottom: 0px !important;
}
.featured_box > p {
    opacity: .5;
}
.feat_year {
    background-color: #0e7c7b;
    opacity: 1 !important;
    padding: 2px 6px;
    border-radius: 5px;
}
.feat_card {
    width: 46%;
    position: relative;
    cursor: pointer;
    bottom: 0;
    border-radius: 10px;
    /* overflow: hidden; */
    margin: 0 12px;
}
.feat_card:nth-child(3),
.feat_card:nth-child(4) {
    margin-top: 19px;
}
.featCard_bottom {
    width: 100%;
    background-color: #222732;
    /* position: absolute; */
    /* bottom: 0; left: 0; */
    color: #fff;
    padding: 10px 20px;
    border-radius: 0px 0px 10px 10px ;
}
.featCard_box {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 8px;
    border-top: 1px solid #ccc;
    padding-top: 18px;
    padding-bottom: 10px;
}
.featCard_box > p {
    color: #fff;
    opacity: .5;
    margin-right: 30px;
}
.featCard_name {
    font-weight: 400;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.featCard_name del{
    opacity: .6;
    border-top: 2px solid red;
    line-height: 0px;
}

.featCard_price {
    margin-top: 5px;
    font-size: 20px;
    text-align: right;
}
.featCard_year {
    background-color: #0e7c7b;
    padding: 2px 8px;
    border-radius: 5px;
    opacity: 1 !important;
}
.feat_card:hover .featured_img {
    transform: scale(1.1);
}
.feat_card > .featured_img {
    height: 70%;
}
.mobileFeat_card {
    display: none;
}
.feat_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2%;
    margin-right: 25px;
}
.feat_btn {
    font-weight: 400;
    font-size: 18px !important;
    padding: 10px !important;
}
.footer_bottom .feat_left .iconBox {
    width: 40px;
}
.feat_left {
    width: 150px !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.feat_left > p {
    color: #99a1b2;
    margin-right: 20px;
}
.feat_tit {
    display: none;
    color: #99a1b2;
}

/* @media (max-width: 1660px) {
    .featCard_bottom > h3 {
        font-size: 15px;
        margin-top: 10px;
    }
    .featCard_price {
        font-size: 18px;
    }
    .featCard_box > p {
        font-size: 15px;
    }
    .featCard_bottom {
        padding: 5px 10px;
    }
}    */

@media (max-width: 1460px) {
    .featured {
        width: 93%;
    }
    /* .featured_left {
        height: 40vw;
    } */
    .featured_right {
        display: grid;
        grid-template-columns: auto auto;
    }
    /* .featured_img{
        width: 100%;
    height: 100%;
    } */
    .featured_left {
        width: 48%;
        height: 730px;
        position: relative;
        cursor: pointer;
        /* overflow: hidden; */
        border-radius: 10px;
        margin-right: 12px;
    }
    .feat_card {
        width: 90%;
    }
    .featured_box > p {
        font-size: 17px;
    }
    .feat_price {
        font-size: 20px;
        margin-left: 10px;
    }
    .featCard_price {
        font-size: 16px;
    }
    .featCard_name {
        font-size: 14px;
    }
    .featCard_box > p {
        font-size: 15px;
        margin: 0;
    }
    .featCard_name {
        width: 100%;
        height: 20px;
        overflow: hidden;
    }
    .featCard_box {
        padding-top: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media (max-width: 991px) {
    /* .featured_right .feat_card:nth-child(1){
        display: none !important;
    }
    .featured_right .feat_card:nth-child(2){
        display: none !important;
    } */
    .featured_left,
    .featured_right {
        display: none !important;
    }
    .mobileFeat_card {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        height: auto;
    }
    .featured_info {
        text-align: center;
    }
    .featured_title {
        margin-bottom: 10px;
        text-align: center;
        font-size: 30px;
    }
    .feat_card {
        margin: 0 auto;
        width: 45%;
        height: 40vw;
        min-width: 250px;
        margin-top: 20px;
    }
    .feat_card > .featured_img {
        height: 100%;
    }
}
@media (max-width: 800px) {
    .feat_card > .featured_img {
        height: 68%;
    }
}
@media (max-width: 580px) {
    .feat_card {
        width: 100%;
        height: 330px;
    }
    .featured_img {
        height: auto;
        object-fit: cover;
    }
    .featCard_name {
        font-size: 18px;
    }
    .featCard_box {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .featCard_box > p {
        margin-right: 20px;
    }
    .feat_bottom {
        flex-direction: column-reverse;
        margin: 0;
        margin-top: 20px;
    }
    .feat_btn {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .feat_left {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 10px;
    }
    .feat_tit {
        display: flex;
    }
    .feat_left p {
        display: none;
    }
}
/* .featured_img_size{
    height: 230px !important;
} */
.featured_img{
    height:600px !important;
}

@media (max-width:1350px) {
    /* .featured_img_size img{
        height: 100px !important;
    } */
    /* .featured_left {
        height:670px;
    } */
    
    /* .featured_img_size{
    height: 626px !important;
    } */
    .featured_left {
    width: 48%;
    height:730px !important;
    position: relative;
    cursor: pointer;
    /* overflow: hidden; */
    border-radius: 10px;
    margin-right: 12px;
}
    .featured_img{
        height: 580px !important;
    }

}

/* .feat_p{
    width: 30%;
    height: 40px;
    transform: rotate(40deg);
    text-align: center;
    color: #000 !important;
    position: absolute;
    font-weight: 700 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999999999999 !important;
    top: -560px;
    background: #0e7c7b !important;
    right: -40px;
} */
.featured_img_size{
    overflow: hidden;
    position: relative;
    z-index: -10;
    border-radius: 10px 10px 0px 0px ;
    /* border: 1px solid black; */
}
.sa{
    text-shadow: -1px 2px #9cfffa;
    position: relative;
    color: black;
    z-index: 10;
    font-size: 20px;
}
@media (max-width:1250px) {
    .featured_left{
    width: 100%;
    }
    .featured_right{
        display: flex;
    }
    .featured_right .feat_card:nth-child(3){
        display: none !important;
    }
    .featured_right .feat_card:nth-child(4){
        display: none !important;
    }
    .featured_left {
    /* width: 48%; */
    height:710px !important;
    position: relative;
    cursor: pointer;
    /* overflow: hidden; */
    border-radius: 10px;
    margin-right: 12px;
}
}

    
    /* ----- White Block ---------------------------------------*/ 
        #corner-ribbon > div {
            display            : block;
            background         : white;
            
            
            box-shadow         : 0px 1px 5px 0px rgba(0,0,0,0.7); 
            -webkit-box-shadow : 0px 1px 5px 0px rgba(0,0,0,0.7);
    
        position           : relative;
            top                : 50px;
            left               : 50%;
        margin-left        : -100px;
    
    }
    
    /* ----- Ribbon Container ---------------------------------------*/ 
    #corner-ribbon > div > div {
        background: transparent;
        height: 200px;
        width: 200px;
        position: absolute;
        /* z-index: 10; */
        top: -60px;
        left: 80px;
        overflow: hidden;
    }
    
    /* ----- Top Curl ---------------------------------------*/ 
        #corner-ribbon > div > div:before {
            content               : "";
            display               : block;
            -webkit-border-radius : 10px 10px 0px 0px;
            border-radius         : 10px 10px 0px 0px;
            width                 : 50px;
            height                : 10px;
            position              : absolute;
            right                 : 86px;
    
            background: #0e7c7b; /* Old browsers */
            /* IE9 SVG, needs conditional override of 'filter' to 'none' */
            
    
        }
    
    /* ----- Right Curl ---------------------------------------*/ 
        #corner-ribbon > div > div:after {
            content               : "";
            display               : block;
            -webkit-border-radius : 0px 10px 10px 0px;
            border-radius         : 0px 10px 10px 0px;
            width                 : 10px;
            height                : 50px;
            position              : absolute;
            right                 : 0px;
            top                   : 85px;
    
            background: #0e7c7b; /* Old browsers */
            /* IE9 SVG, needs conditional override of 'filter' to 'none' */
            /* background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI1NSUiIHN0b3AtY29sb3I9IiMwZjMzMGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5OSUiIHN0b3AtY29sb3I9IiMwMDhhM2IiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); */
            
    
    
        }
    
    /* ----- Ribbon ---------------------------------------*/ 
        #corner-ribbon > div > div > div {
            width              : 200px;
            height             : 40px;
            position           : relative;
            top                : 30px;
            right              : -50px;
            z-index            : 1;
            overflow           : hidden;
            transform          :rotate(45deg);
            -ms-transform      :rotate(45deg); /* IE 9 */
            -moz-transform     :rotate(45deg); /* Firefox */
            -webkit-transform  :rotate(45deg); /* Safari and Chrome */
            -o-transform       :rotate(45deg); /* Opera */
            box-shadow         : inset 0px 0px 0px 3px#0e7c7b,inset 0px 0px 0px 4px rgba(0,0,0,0.5),inset 0px 0px 0px 5px rgba(255,255,255,0.4), 0px 21px 5px -18px rgba(0,0,0,0.8); 
            -webkit-box-shadow : inset 0px 0px 0px 3px#0e7c7b,inset 0px 0px 0px 4px rgba(0,0,0,0.5),inset 0px 0px 0px 5px rgba(255,255,255,0.4), 0px 21px 5px -18px rgba(0,0,0,0.8);
                        
            background:#0e7c7b; /* Old browsers */
            /* IE9 SVG, needs conditional override of 'filter' to 'none' */
            background: -moz-linear-gradient(left,  #0e7c7b,1 0%, rgba(0,138,59,1) 51%, #0e7c7b 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, right top, color-stop(0%,#0e7c7b,1), color-stop(51%,rgba(0,138,59,1)), color-stop(100%,#0e7c7b)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(left,  #0e7c7b,1 0%,rgba(0,138,59,1) 51%,#0e7c7b 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(left,  #0e7c7b,1 0%,rgba(0,138,59,1) 51%,#0e7c7b 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(left,  #0e7c7b,1 0%,rgba(0,138,59,1) 51%,#0e7c7b 100%); /* IE10+ */
            background: linear-gradient(to right,  #0e7c7b,1 0%,rgba(0,138,59,1) 51%,#0e7c7b 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00722d', endColorstr='#00561c',GradientType=1 ); /* IE6-8 */
            display: flex;
            justify-content: center;
            align-items: center;
    
        }
        
    /* ----- Top Glare ---------------------------------------*/ 		
        #corner-ribbon > div > div > div:before {
            content           : "";
            display           : block;
            height            : 72px;
            width             : 13px;
            position          : absolute;
            top               : -15px;
            left              : 30px;
            transform         : rotate(45deg);
            -ms-transform     : rotate(45deg);
            -moz-transform    : rotate(45deg);
            -webkit-transform : rotate(45deg);
            -o-transform      : rotate(45deg);
            
            /* IE9 SVG, needs conditional override of 'filter' to 'none' */
            background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjYiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
            background: -moz-linear-gradient(left,  rgba(255,255,255,0) 1%, rgba(255,255,255,0.6) 50%, rgba(255,255,255,0) 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, right top, color-stop(1%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,0.6)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 1%,rgba(255,255,255,0.6) 50%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(left,  rgba(255,255,255,0) 1%,rgba(255,255,255,0.6) 50%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(left,  rgba(255,255,255,0) 1%,rgba(255,255,255,0.6) 50%,rgba(255,255,255,0) 100%); /* IE10+ */
            background: linear-gradient(to right,  rgba(255,255,255,0) 1%,rgba(255,255,255,0.6) 50%,rgba(255,255,255,0) 100%); /* W3C */
        }
        #corner-ribbon > div > div > div:after {
            content           : "";
            display           : block;
            height            : 72px;
            width             : 13px;
            position          : absolute;
            bottom            : -20px;
            left              : 160px;
            transform         : rotate(45deg);
            -ms-transform     : rotate(45deg);
            -moz-transform    : rotate(45deg);
            -webkit-transform : rotate(-45deg);
            -o-transform      : rotate(45deg);
            background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjYiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
            background: -moz-linear-gradient(left,  rgba(255,255,255,0) 1%, rgba(255,255,255,0.6) 50%, rgba(255,255,255,0) 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, right top, color-stop(1%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,0.6)), color-stop(100%,rgba(255,255,255,0)));
            background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 1%,rgba(255,255,255,0.6) 50%,rgba(255,255,255,0) 100%); 
            background: -o-linear-gradient(left,  rgba(255,255,255,0) 1%,rgba(255,255,255,0.6) 50%,rgba(255,255,255,0) 100%); 
            background: -ms-linear-gradient(left,  rgba(255,255,255,0) 1%,rgba(255,255,255,0.6) 50%,rgba(255,255,255,0) 100%); 
            background: linear-gradient(to right,  rgba(255,255,255,0) 1%,rgba(255,255,255,0.6) 50%,rgba(255,255,255,0) 100%); 
        }
    