.App {
  font-family: sans-serif;
  text-align: center;
}
.avtomobilrasm{
  display: flex;
  justify-content: center;
}
._3iVQ0, ._t1897{
  object-fit: contain !important;
}
._dZ8C-{
  display: none !important;
}