.HomeHeader {
    width: 100%;
    height: 630px;
    background: #0f141e;
    display: flex;
    justify-content: space-evenly;    
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    padding-bottom: 20px;
    margin-bottom: 200px;
    padding-top: 60px;
}
.positionImg {
    position: absolute;
    top: -70px;
    left: 0;
    width: 100%;
    height: 700px;
    background: url('./tlo.png');
    z-index: 0;
}
#home2 {
    padding-top: 100px;
}
.cardHeader2 h1 {
    text-align: center;
}
@media(max-width: 1242px) {
    .cardHeader h1{
        font-size: 50px !important;
    }
    .cardHeader2 {
        width: 80%;
    }
    .HomeHeader {
        padding-top: 30px;
    }
    /* .cardHeader p { */
        /* font-size: 20px; */
    /* } */
}
@media(max-width: 1200px) {
    .cardHeader{
        width: 80% !important;
        margin: auto;
    }
    .cardHeader button{
        margin-left: 20%;
    }
    .cardHeader2 {
        width: 80% !important;
        margin: auto;
    }
    .cardHeader p,
    .cardHeader h1{
        width: 100% !important;
    }
    .HomeHeader {
    width: 100%;
    height: 840px;
    background: #0f141e;
    display: flex;
    justify-content: space-evenly;    
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    padding-bottom: 20px;
    margin-bottom: 200px;
}
.positionImg {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 700px;
    background: url('./tlo.png');
    z-index: 0;
}
#inp2:nth-child(4) {
    width: 96% !important;
}
}

@media(max-width:1000px){
    #inp2:nth-child(4) {
        width: 96.4% !important;
    }
    .HomeHeader {
        height: 800px !important;
        margin-bottom: 300px !important;
    }
}

@media(max-width: 776px){
    .cardHeader p{
        font-size: 25px !important;
        line-height: 30px;
        margin-bottom: 20px;
    }
    .carImg {
        width: 70% !important;
        /* height: 2vh !important; */
    }
    .HomeHeader {
        height: 900px !important;
        /* margin-bottom: 250px !important; */
    }
}

@media(max-width: 672px){
    .cardHeader h1{
        font-size: 30px !important;
    }
    .cardHeader p{
        font-size: 20px !important;
    }
    .cardHeader button{
        width: 100% !important;
    }
    .cardHeader2 h1{
        font-size: 25px;
    }
}

@media(max-width: 664px) {
    .HomeHeader {
        margin-bottom: 100px !important;
    }
    .carImg {
        height: 300px !important;
    }
    .cardHeader2 button {
        width: 100% !important;
        margin-left: 2% !important;
    }
}

@media(max-width: 399px){
    .cardHeader h1{
        width: 100% !important;
        font-size: 20px !important;
    }
    .cardHeader p {
        width: 100% !important;
        font-size: 15px !important;
        line-height: 20px !important;
    }
    .cardHeader {
        width: 100% !important;
    }
    .cardHeader2 {
        width: 97% !important;
    }
    .HomeHeader {
        height: 860px !important;
        margin-bottom: 100px !important;
    }
}

@media(max-width: 433px) {
    .HomeHeader {
        margin-bottom: 170px !important;
    }
}

/* @media(max-width: 425px){
    .HomeHeader {
        height: 900px !important;
        box-shadow: inset 0 0 10px blue;
        margin-bottom: 130px !important;
    }
} */

.cardHeader2 {
    width: 600px;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    z-index: 2;
}
.cardHeader {
    width: 50%;
    padding: 20px;
}
#inp2 {
    width: 47%;
}
#inp2:nth-child(4) {
    width: 97%;
}
.cardHeader h1{
    width: 500px;
    font-size: 60px;
    color: white;
}
.cardHeader2 button,
.cardHeader button {
    width: 30%;
    margin: auto;
    height: 40px;
    font-size: 20px;
}
.cardHeader p {
    width: 70%;
    line-height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 26px;
    z-index: 3 !important;
    color: gray;
}
.carImg {
    width: 60%;
    height: 300px;
    background: url('../js/car-silver.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 3;
    margin: auto;
    text-align: center;
}
#carImg2 {
    margin-top: 100px;
    margin-bottom: 140px !important;
}
.headerBody1 {
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerBody>h1 {
    color: #fff;
    text-align: center;
    font-size: 50px;
}

.headerBody>h1>span {
    color: #ff6505
}

.header_box {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    margin-top: 30px;
    border-radius: 10px;
}

.headerSelect:focus {
    border: 1px solid #ff6505 !important;
}

.header_btn {
    font-size: 20px;
    height: 55px;
}

.headerSelect option:hover option {
    color: #ff6505;
}
.kotta {
    width: 80%;
    margin-left: 10%;
}

.kotta h1 {
    margin-top: 4%;
    text-align: center;
    font-size: 40px;
}

.ushta {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    flex-wrap: wrap;
}

.bir {
    width: 300px;
    text-align: center;
    margin-top: 30px;
}

.bir>h2 {
    margin-top: 30px;
}

.bxs-balloon {
    font-size: 70px;
    color: red;
}

.bir h4 {
    opacity: 0.6;
    font-weight: 500;
    margin-top: 20px;
}




@media (max-width: 900px) {
    .headerBody1 {
        padding: 0 5%;
        display: block;
    }

    .HomeHeader {
        height: 90vh;
    }

    .headerBody {
        width: 60%;
        min-width: 300px;
        margin: 40px auto;
    }

    .header_box {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .headerSelect {
        width: 100%;
        margin-top: 15px;
        min-width: 250px;
    }

    .header_btn {
        width: 100%;
        height: 40px;
        margin-top: 10px;
    }

    .headerBody>h1 {
        font-size: 32px;
    }
    #inp2 {
        width: 100% !important;
    }
    #inp2:nth-child(4) {
        width: 100% !important;
    }
}


@media (max-width: 500px) {
    .kotta h1 {
        font-size: 30px;
    }

    .bir {
        width: 100%;
    }
}
/* swiper */
@media(max-width: 574px){
    #swiper{
        width: 100%;
        display: none;
    }
    .swiper-slide {
        width: 100% !important;
    }
    #swiper2 {
        width: 100%;
        display: flex !important;
    }
}

@media(max-width: 386px){
    #swiper2 swiper-slide img {
        width: 20% !important;
    }
    #swiper2 {
        width: 340px !important;
        margin-left: 0 !important;
        padding-left: -90px !important;
    }
    .team {
        width: 100% !important;
        padding: 30px;
    }
}

@media(max-width: 348px) {
    .team_card:nth-child(1) {
     margin-left: -20px !important;
    }
    .team_card {
        margin: 0 auto !important;
    }
    #swiper2 {
        overflow: hidden !important;
        width: 320px;
    }
}

#swiper2 .team_card {
    width: 320px !important;
}

#swiper2 {
    display: none;
    /* margin-left: -12px !important; */
    border-radius: 20px;
    /* text-align: center; */
}

.mySwiper3 {
    text-align: center;
    margin: auto;
}

/* #swiper2 .swiper-slide */

#swiper2 .swiper-slide .swiper-button-next, .swiper-button-prev {
    margin-left: -33px !important;
}




.loader {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .car__body {
    -webkit-animation: shake 0.2s ease-in-out infinite alternate;
            animation: shake 0.2s ease-in-out infinite alternate;
  }
  .car__line {
    transform-origin: center right;
    stroke-dasharray: 22;
    -webkit-animation: line 0.8s ease-in-out infinite;
            animation: line 0.8s ease-in-out infinite;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
  }
  .car__line--top {
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
  }
  .car__line--middle {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
  }
  .car__line--bottom {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
  }
  
  @-webkit-keyframes shake {
    0% {
      transform: translateY(-1%);
    }
    100% {
      transform: translateY(3%);
    }
  }
  
  @keyframes shake {
    0% {
      transform: translateY(-1%);
    }
    100% {
      transform: translateY(3%);
    }
  }
  @-webkit-keyframes line {
    0% {
      stroke-dashoffset: 22;
    }
    25% {
      stroke-dashoffset: 22;
    }
    50% {
      stroke-dashoffset: 0;
    }
    51% {
      stroke-dashoffset: 0;
    }
    80% {
      stroke-dashoffset: -22;
    }
    100% {
      stroke-dashoffset: -22;
    }
  }
  @keyframes line {
    0% {
      stroke-dashoffset: 22;
    }
    25% {
      stroke-dashoffset: 22;
    }
    50% {
      stroke-dashoffset: 0;
    }
    51% {
      stroke-dashoffset: 0;
    }
    80% {
      stroke-dashoffset: -22;
    }
    100% {
      stroke-dashoffset: -22;
    }
  }