
/* 
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
}

@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap");

* {
  font-family: "Mulish", sans-serif;

  box-sizing: border-box;
}
.mnb{
  width: 100%;
  padding-bottom: 60px;
}
.form1 {
  border-radius: 20px 0px 0px 20px;
  background-color: #f2f5fb;
  border: 1px solid #f2f5fb;
  width: 100%;
  max-width: 1120px;
  display: block;
  padding-bottom: 60px;
  padding-left: 50px;
  padding-right: 50px;
}

.inputla h2 {
  font-size: 18px;
}

.inputla h2 {
  font-size: 16px;
  font-weight: bold;
  color: #222732;
}

.inputla {
  width: 100%;
  margin-top: 20px;
}

.kata {
  width: 80%;
  margin-left: 10%;
}

.inputla input {
  border-radius: 10px;
  box-shadow: 1px 1px 0 0 rgba(196, 196, 196, 0.24);
  border: solid 1px #e7edf3;
  height: 53px;
  margin-top: 15px;
  padding: 0 27px;
  font-size: 15px;
  color: #2f3b48;
  width: 100%;
  box-shadow: 1px 1px 0 0 rgba(196, 196, 196, 0.24);
  outline: none;
  font-family: 'Mulish', sans-serif !important;

}

.inputs1 {
  display: flex;
  justify-content: space-between;
  /* margin-top: 50px; */
  font-size: 18px;
}
#asd{
  margin-top: 50px;
}
.input1 {
  width: 48%;
}
.minTableA h5{
  font-size: 16px;
}
.divAdress h2{
  font-size: 16px;
}
.katta {
  display: flex;
  justify-content: center;
  /* padding: 30px; */
}

.accaunt-detailes {
  /* width: 100%; */
  display: flex;
  justify-content: center;
  padding: 15px;
}

.katta {
  display: flex;
  justify-content: center;
}


.profil {
  text-align: center;
  border-radius: 0px 20px 20px 0px;
  width: 357px;

  padding-left: 20px;
  padding-right: 20px;

  background-color: rgba(226, 230, 238, 0.5);
}

.inputs1 h2 {
  font-weight: 400;
  margin-top: 20px;
}

.check2 input {
  display: inline-block;
  vertical-align: text-top;
  width: 18px;
  height: 18px;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-family: 'Mulish', sans-serif !important;

  border-radius: 4px;
}

.check2 p {
  height: 0px;
  margin-left: 10px !important;
}

.check2 {
  display: flex;
  align-items: center;
  margin-top: 5px;
  font-size: 14px;
}

#cb1 {
  accent-color: #0e7c7b;
  border: none;
}

.check2:hover {
  color: #0e7c7b;
}

.inputs111 h2 {
  font-weight: 400;
}

.inputs111 input {
  width: 48%;
  font-family: 'Mulish', sans-serif !important;

}

.inputs111 {
  margin-top: 30px;
}

.inputs111 h2 {
  margin-top: 30px;
}

.a1 {
  width: 100% !important;
  height: 200px !important;
  padding-bottom: 150px !important;
}

.inputs111 button {
  width: 100%;
  height: 50px;
  background-color: #0e7c7b;
  font-size: 17px;
  margin-top: 40px;
  border-radius: 10px;
}

.delete1 {
  font-weight: 400;
  font-size: 17px;

  margin-left: 11%;

  margin-left: 30px;
  color: #0e7c7b;
}

.profil1 {
  position: relative;
  margin: auto !important;
  width: 180px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: rgba(153, 161, 178, 0.16);
}

.prof {
  position: relative;
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(153, 161, 178, 0.16);
  margin-left: 20px;
}

.profil1 input {
  top: 0px;
  left: 0px;
  position: absolute;
  width: 180px;
  height: 240px;
  opacity: 0;
  font-family: 'Mulish', sans-serif !important;

}

.icon12 {
  font-size: 30px !important;
  color: rgb(194, 194, 194);
}

.prof input {
  top: 0px;
  left: 0px;
  position: absolute;
  width: 75px;
  height: 80px;
  opacity: 0;
  cursor: pointer;
  z-index: 100;
  font-family: 'Mulish', sans-serif !important;

}

.profil h2 {
  margin-top: 40px;
  font-weight: 600;
  font-size: 19px;
  padding-bottom: 30px;
}

.profil h2 {
  margin-top: 40px;
  font-weight: 500;
  font-size: 17px;
  padding-bottom: 30px;
}

.bb1 {
  margin-top: 40px;
  font-weight: 400 !important;
  font-size: 15px !important;
  color: #99a1b2;
  padding-bottom: 0px !important;
}

.icon1 {
  font-size: 80px !important;
  color: rgb(194, 194, 194);
}

.icon1 {
  font-size: 80px !important;
  color: rgb(194, 194, 194);
}

@media (max-width: 1150px) {
  .inputs1 {
    display: block;
  }

  .input1 {
    width: 100%;
  }
}


@media (max-width: 800px) {
  .accaunt-detailes {
    display: block;
  }
  .TableB{
    overflow-x: scroll;
  }
  .profil h2 {
    padding-top: 40px;
    margin-top: 0px;
  }

  .form1 {
    border-radius: 20px 20px 0px 0px;
    background-color: #f2f5fb;
    border: 1px solid #f2f5fb;
    width: 100%;
    max-width: 1120px;
    display: block;
    padding-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .profil {
    text-align: center;
    border-radius: 0px 0px 20px 20px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(226, 230, 238, 0.5);
    padding-bottom: 40px;
  }

  .inputs111 input {
    width: 100%;
    font-family: 'Mulish', sans-serif !important;

  }
}

#vv {
  margin-top: 20px;
  outline: none;
  min-height: 200px;
  border-radius: 10px;
  width: 100%;
  padding: 10px 27px;
  font-size: 16px;
  line-height: 16px;
  box-shadow: 1px 1px 0 0 rgba(196, 196, 196, 0.24);
  border: 1px solid #e7edf3;
  background: #fff;
}

.change-password {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 15px;
}

.change-password button{
  width: 100% !important;
}

.change {
  width: 600px;
  /* margin-left: 10%; */
  /* height: 100px; */
  background-color: #f2f5fb;
  max-width: 1300px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 20px;
  padding-bottom: 40px;
}

.change h2 {
  margin-top: 20px;
  font-size: 19px;
  font-weight: bold;
  color: #222732;
}

.inpu1 input {
  border-radius: 10px;
  box-shadow: 1px 1px 0 0 rgba(196, 196, 196, 0.24);
  border: solid 1px #e7edf3;
  height: 53px;
  margin-top: 15px;
  padding: 0 27px;
  font-size: 15px;
  color: #2f3b48;
  width: 100%;
  box-shadow: 1px 1px 0 0 rgba(196, 196, 196, 0.24);
  outline: none;
  font-family: 'Mulish', sans-serif !important;

}

.change button {
  width: 120px;
  height: 50px;
  background-color: #0e7c7b;
  font-size: 17px;
  margin-top: 40px;
  border-radius: 10px;
}

.inpu1 h2 {
  font-weight: 400;
  font-size: 17px;
}

@media(min-width:800px){
  .tableb{
    overflow-x: hidden !important;
  }
}
@media (max-width: 800px) {
  .inpu1 input {
    border-radius: 10px;
    box-shadow: 1px 1px 0 0 rgba(196, 196, 196, 0.24);
    border: solid 1px #e7edf3;
    height: 53px;
    margin-top: 15px;
    padding: 0 27px;
    font-size: 15px;
    color: #2f3b48;
    width: 100%;
    box-shadow: 1px 1px 0 0 rgba(196, 196, 196, 0.24);
    outline: none;
    font-family: 'Mulish', sans-serif !important;

  }

  .change {
    width: 100%;
    /* margin-left: 10%; */
    /* height: 100px; */
    background-color: #f2f5fb;
    max-width: 1300px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    padding-bottom: 40px;
  }
}

.all-button button {
  width: 250px;
  height: 50px;
  background-color: #0e7c7b;
  font-size: 18px;
  margin-top: 40px;
  border-radius: 10px;
  margin-left: 5px;
}

.all-button {
  display: flex;
  justify-content: center;
}

@media (max-width: 505px) {
  .all-button button {
    width: 30%;
    height: 60px;
    background-color: #0e7c7b;
    font-size: 3vw;
    margin-top: 40px;
    border-radius: 10px;
    padding: 0px !important;
  }
  .all-button{
    padding-left: 1px !important;
    padding-right: 5px !important;
  }
}
.all-button{
  padding-left: 15px;
  padding-right: 15px;
}

.accaunt {
  margin-top: 95px !important;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 200px;
  background-color: #f2f5fb;
}

.accaunt h2 {
  font-size: 35px !important;
}

.ii {
  color: white !important;
}

.orange {
  position: absolute;
  top: 50px;
  left: 0px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #0e7c7b;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons11 {
  display: flex;
  align-items: center;
}

.buttons11 button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 50px;
  font-size: 19px;
  background-color: white;
  color: black;
  margin-left: 20px;
}

.buttons11 button:hover {
  border: 1px solid #0e7c7b;
}

#a1a {
  display: none;
}

@media (max-width: 800px) {
  .prof {
    display: none;
  }

  .accaunt h2 {
    display: none;
  }

  .accaunt {
    display: block;
    text-align: center !important;
  }

  #a1a {
    display: flex;
    margin: auto !important;
  }

  * .buttons11 button {
  }


.buttons11 {
    padding-top: 20px;
    width: 400px;
    display: flex;
    justify-content: center !important;
    margin: auto !important;
    padding-right: 20px;
  }
}

@media (max-width: 480px) {
  .buttons11 {
    padding-top: 20px;
    width: 300px;
    display: flex;
    justify-content: center !important;
    margin: auto !important;
    padding-right: 10px;
  }

  .accaunt {
    margin-top: 75px !important;
    padding: 10px;
  }

  .buttons11 button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    font-size: 14px;
    font-weight: 400;
    background-color: white;
    color: black;
    margin-left: 10px;
  }
}
.kok {
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 1400px;
  width: 100%;
  margin-top: 100px;
  margin-top: 150px;
  background-color: #f2f5fb;
  border-radius: 20px;
  margin: auto !important;
  padding-left: 20px;
  padding-right: 20px;
}
.ba {
  margin-top: 60px;
  padding: 15px;
}
.icon1 {
  font-size: 80px !important;
  color: rgb(194, 194, 194);
  /* display: none !important; */
}

.selectLocation {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
}

.regionDv {
  width: 1000px;
  background-color: #f2f5fb;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    border-radius: 20px;
    margin-top: 15px;
    padding-bottom: 10px;
}
#mlk{
  padding: 15px;
}

/* .regionDv button {
  width: 40%;
  height: 40px;
  margin-left: 30%;
  margin-top: 20px;
  border-radius: 10px;
  font-size: 20px;
}

.regionAdd {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
} */

.regionAdd input {
    width: 45%;
    height: 40px;
    border: 1px solid black;
    padding-left: 10px;
    border-radius: 100px;
    outline: none;
    font-family: 'Mulish', sans-serif !important;

}


.regionDv button {
  width: 40%;
  height: 40px;
  margin-left: 30%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.regionAdd input {
    width: 45%;
    padding-left: 10px;
    border-radius: 100px;
    outline: none;
    font-family: 'Mulish', sans-serif !important;

}

.tableAdres {
  width: 100%;
}

.minTableA {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  /* box-shadow: 0 0 4px black; */
  min-height: 50px;
  box-shadow: 1px 1px 0 0 rgba(196, 196, 196, 0.24);
  /* border-top-left-radius: 5px;
  border-top-right-radius: 5px; */
  border-radius: 10px;
  background-color: white;
  padding-left: 25px;
  padding-right: 25px;
  /* padding: 5px; */
}
.in11{
  display: block;
}
.in11 h2{
  font-weight: 400;
  font-size: 16px;
  margin-top: 15px;
}
.inpla11{
  display: flex;
  justify-content: space-between;
}
.nmbv{
  display: flex;
  justify-content: center;
}
.minTableA h5 {
  /* width: 400px; */
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
}

.minTableA2 {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* padding: 5px; */
}

.minTableA2 h5 {
  width: 400px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-shadow: 0 0 1px rgb(172, 172, 172); */
  background: #fff;
  /* text-align: center; */
}

.minTableA2 button {
  width: 45%;
  height: 35px;
  margin-left: 3px;
}

.fiEdit {
  font-size: 20px;
  margin: 5px;
}

.riDelete {
  font-size: 20px;
  margin: 5px;
}

.divAdress button {
  margin: auto;
  width: 250px;
  height: 40px;
  font-size: 20px;
  /* margin-left: 35%; */
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divAdress input {
  border-radius: 10px;
  box-shadow: 1px 1px 0 0 rgba(196, 196, 196, 0.24);
  border: solid 1px #e7edf3;
  height: 53px;
  margin-top: 15px;
  padding: 0 27px;
  font-size: 15px;
  color: #2f3b48;
  width: 100%;
  box-shadow: 1px 1px 0 0 rgba(196, 196, 196, 0.24);
  outline: none;
  font-family: 'Mulish', sans-serif !important;

}

.divAdress p {
  width: 57%;
  margin-left: 10px;
  display: flex;
  text-align: left;
  justify-content: space-between;
}

.divAdress2 {
  width: 600px;
  margin: auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

.divAdress2 button {
  width: 25%;
  height: 35px;
  font-size: 20px;
  margin-left: 35%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.divAdress2 input {
  border-radius: 10px;
    box-shadow: 1px 1px 0 0 rgba(196, 196, 196, 0.24);
    border: solid 1px #e7edf3;
    height: 53px;
    margin-top: 15px;
    padding: 0 27px;
    font-size: 15px;
    color: #2f3b48;
    width: 100%;
    box-shadow: 1px 1px 0 0 rgba(196, 196, 196, 0.24);
    outline: none;
    font-family: 'Mulish', sans-serif !important;

}

.divAdress2 p {
  width: 63%;
  margin-left: 10px;
  display: flex;
  text-align: left;
  justify-content: space-between;
}

.adres2Big {
  width: 100%;
  min-height: 100vh;
  background: #000007a0;
  position: fixed;
  z-index: 111;
  padding: 15px;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

.btnddiv {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btnddiv button {
  width: 40%;
  margin: 0;
  margin-left: 10px;
  margin-right: 0;
}

.btnddiv button:nth-child(1){
  background: red;
}
.dele1{
  color: #0e7c7b;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  /* margin-top: 40px; */
  display: inline-block;
  margin-top:180px !important;
}
.regionAdd{
  width: 48%;
}
#region1{
  width: 100%;
}
@media(max-width:800px){
  .inpla11{
    display: block;
  }
  .regionAdd{
    width: 100%;
  }
  .regionDv{
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    overflow: hidden;
  }
  .TableB{
    width: 720px !important;
  }
}
.perevod img{
  width: 50px;
}
#pere{
  width: 45px;
}
.TableB{
  width: 100%;
    text-align: center;
    background: white;
    border-radius: 13px;
    padding: 7px;
    padding-top: 13px;
}
.tableb{
  overflow-x: scroll;
  border-radius: 13px;
}
@media(max-width:550px){
  .btnddiv {
    width: 100% !important;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: -5px !important;
}
.btnddiv button {
  width: 50% !important;
  margin: 0;
  margin-left: 10px;
  margin-right: 0;
}
}
.loader {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.car__body {
  -webkit-animation: shake 0.2s ease-in-out infinite alternate;
          animation: shake 0.2s ease-in-out infinite alternate;
}
.car__line {
  transform-origin: center right;
  stroke-dasharray: 22;
  -webkit-animation: line 0.8s ease-in-out infinite;
          animation: line 0.8s ease-in-out infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.car__line--top {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.car__line--middle {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.car__line--bottom {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

@-webkit-keyframes shake {
  0% {
    transform: translateY(-1%);
  }
  100% {
    transform: translateY(3%);
  }
}

@keyframes shake {
  0% {
    transform: translateY(-1%);
  }
  100% {
    transform: translateY(3%);
  }
}
@-webkit-keyframes line {
  0% {
    stroke-dashoffset: 22;
  }
  25% {
    stroke-dashoffset: 22;
  }
  50% {
    stroke-dashoffset: 0;
  }
  51% {
    stroke-dashoffset: 0;
  }
  80% {
    stroke-dashoffset: -22;
  }
  100% {
    stroke-dashoffset: -22;
  }
}
@keyframes line {
  0% {
    stroke-dashoffset: 22;
  }
  25% {
    stroke-dashoffset: 22;
  }
  50% {
    stroke-dashoffset: 0;
  }
  51% {
    stroke-dashoffset: 0;
  }
  80% {
    stroke-dashoffset: -22;
  }
  100% {
    stroke-dashoffset: -22;
  }
}
.minTableB1 th{
  font-size: 20px;
}
.search_top {
  width: 100%;
  padding: 20px 10vw;
  background-color: #f2f5fb;
  display: flex;
  padding-top: 130px !important;
}
*{
  box-sizing: border-box;
}
.search_top_body {
  width: 14000px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.css-13sljp9{
  margin-top: 10px !important;
}
.css-nhb8h9{
  display: flex !important;
  justify-content: center !important;
  margin-bottom: 50px !important;
  margin-top: 50px !important;
  
}
.css-1kz0k3h.Mui-selected{
  background-color: #0e7c7b !important;
}
.inpsearch {
  width: 260px;
  background-color: #fff;
  margin-top: 10px;
  border-radius: 10px;
}
#inpsearch {
  width: 340px;
  background-color: #fff;
  margin-top: 10px;
  border-radius: 10px;
  margin-left: 110px;
}
.feat_card2 img{
  width: 100% !important;
  height: 200px;
  border-radius: 10px 10px 0px 0px;
  margin-bottom: -3px;

}
.searchInp {
  width: 260px;
  height: 55px;
  background-color: #fff;
  padding: 0 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-top: 10px;
}
.boxPrice {
  width: 260px;
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
}
.input_year{
  width: 260px;
  height: 55px;
  border-radius: 5px 0 0 5px;
  margin-top: auto;
  border-radius: 10px;
}
#input_year{
  width: 340px;
  height: 55px;
  border-radius: 5px 0 0 5px;
  margin-top: auto;
  border-radius: 10px;
  border: 2px solid #0e7c7b;
}
.priceInp1 {
  width: 49.5%;
  border-radius: 10px 0 0 10px;
}

.priceInp2 {
  width: 49.5%;
  border-radius: 0 10px 10px 0;
}

.mobile_search {
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  padding: 20px 5%;
  z-index: 99;
  display: none;
  overflow-y: scroll;
}
#inp1{
  padding-bottom: 50px;
}
.mobile_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.db {
  display: block;
}

.closeModalMob {
  font-size: 30px;
  cursor: pointer;
}

.searchBox {
  width: 49%;
  margin-top: 10px;
}

.inpsearch2 {
  width: 100%;
}

.mobile_body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
}

.searchInp2 {
  width: 49% !important;
}

.boxprice2 {
  width: 49% !important;
}

.priceinp {
  width: 49.5% !important;
}

.btnOpen {
  width: 100%;
  height: 50px;
  background-color: #fff;
  box-shadow: 0 0 10px #ccc;
  border: none;
  font-size: 18px;
  border-radius: 5px;
  color: #ccc;
  display: none;
}

.btnSearch {
  z-index: 10;
  width: 90%;
  height: 50px;
  color: #fff;
  border: none;
  background-color: #0e7c7b;
  border-radius: 5px;
  position: fixed;
  bottom: 10px;
  right: 5%
}

.btnSearch:hover {
  background-color: #fff;
  color: #0e7c7b;
  border: 1px solid #0e7c7b;
}

.search_body {
  width: 100%;
  padding: 0 2vw;
}

.body_top {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.body_top h2{
  font-size: 30px;
  font-weight: 900;
  width: 330px;
}

.top_box {
  display: flex;
  align-items: center;
}

.top_box p {
  margin-right: 15px;
}

.featured_img {
  width: 100%;
  height: 80%;
  transition: .8s;
}

.feat_card2 {
  width: 340px;
  height: 100%;
  position: relative;
  cursor: pointer;
  bottom: 0;
  border-radius: 10px;
  /* overflow: hidden; */
  margin: 0 12px;
  box-shadow: 0 0 10px #99a1b2;
  margin-top: 20px;
  margin-bottom: 20px;
}
.sa{
  text-shadow: -1px 2px #9cfffa;
  position: relative;
  color: black;
  z-index: 10;
  font-size: 20px;
}
.featCard_bottom {
  width: 100%;
  background-color: #fff;
  border-radius: 0px 0px 10px 10px;
  color: #2c2c2c;
  padding: 10px 20px;
}

.featCard_box {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 8px;
  border-top: 1px solid #ccc;
  padding-top: 18px;
  padding-bottom: 10px;
}

.featCard_box>p {
  color: #2c2c2c;
  opacity: .5;
  font-size: 15px;
  margin-right: 30px;
}

.featCard_name {
  width: 100%;
  height: 25px;
  overflow: hidden;
  font-weight: 400;
  font-size: 18px;
}

.featCard_price {
  margin-top: 5px;
  font-size: 22px;
  font-weight: 900;
  text-align: right;
  color: #0e7c7b;
}

.featCard_year {
  background-color: #0e7c7b;
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff !important;
  opacity: 1 !important;
}

.feat_card2:hover .featured_img {
  transform: scale(1.1);
}

.feat_card2>.featured_img {
  height: 68%;
}

.mobileFeat_card2 {
  display: none;
}

.feat_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2%;
  margin-right: 25px;
}

.feat_btn {
  font-weight: 400;
  font-size: 18px !important;
  padding: 10px !important;
}

.feat_left {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.feat_left>p {
  color: #99a1b2;
}

.feat_tit {
  display: none;
  color: #99a1b2;
}
.css-0{
  margin-left: 20px;
}
.result_wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  overflow: hidden;
}
.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root{
  border-radius: 10px !important;
}

.css-19micn4-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background-color: #0e7c7b !important;
}

.css-19micn4-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected:hover {
  background-color: #0e7c7b !important;
}
.css-1oj2twp-MuiPagination-root {
  display: flex !important;
}
.css-wjh20t-MuiPagination-ul {
  margin: 0 auto !important;
  margin-top: 5% !important;
}

/* @media (max-width: 1320px) {
  .inpsearch,
  .boxPrice,
  .searchInp {
      width: 200px;
  }

  .priceInp1,
  .priceInp2 {
      width: 100px;
  }

  .search_top {
      padding: 20px 2%;
  }
  .search_body {
      padding: 0 2%;
  }
  .feat_card2 {
      width: 31%;
  }
} */
/* @media (max-width: 1500px) {
  .feat_card2 {
      width: 30%;
  }
} */
/* @media (max-width: 1075px) {
  .feat_card2 {
      width: 28%;
      min-height: 300px;
  }
} */



@media(max-width:800px){
  
  #corner-ribbon > div > div {
      background: transparent;
      height: 200px;
      width: 200px;
      position: absolute;
      z-index: 1;
      top: -60px;
      left: 60px !important;
      overflow: hidden;
  }
  .feat_card2 {
      width: 300px;
      height: 100%;
      position: relative;
      cursor: pointer;
      bottom: 0;
      border-radius: 10px;
      /* overflow: hidden; */
      margin: 0 12px;
      box-shadow: 0 0 10px #99a1b2;
      margin-top: 20px;
  }
}
@media (max-width: 991px) {
  .search_top_body {
      display: none !important;
  }
  .div12{
      display: none;
  }
  .body_top{
      display: block;
      text-align: center;
  }
  .body_top h2{
      width: auto !important;
      margin-left: 0px !important;
  }
  #inpsearch{
      width: 300px !important;
      margin-left: 0px !important;
  }
  #input_year{
      width: 300px !important;
  }
  .search_body {
      width: 100%;
      padding: 0px;
  }
  .css-0{
      margin-left: 0px;
  }
  .priceInp1, .priceInp2{
      width: 49%;
  }
  .boxprice2{
      width: 48.8% !important;
  }
  .input_year{
      width: 100% !important;
      margin-top: 10px;
  }
  .boxPrice{
      margin-left: 0px;
  }
  /* .feat_card2 {
      width: 45%;
      min-height: auto;
  } */
  .top_box p {
      display: none;
  }

  .btnOpen {
      display: block;
  }
}
@media (max-width: 600px) {
  /* .feat_card2 {
      width: 80%;
      
  } */
  .body_top {
      flex-direction: column;
  }
  .inpsearch3 {
      width: 300px;
      margin-top: 10px;
  }
}

@media (max-width: 600px) {
  .mobile_body {
      flex-direction: column;
  }

  .searchInp2,    
  .boxprice2,
  .searchBox {
      width: 100% !important;
  }
}

/* @media(max-width:380px){
  .feat_card2 {
      width: 100%;
  }
} */
@media(max-width:1399px){
  .search_top_body {
      width: 100%;
      display: flex;
      align-items: center;
      /* justify-content: space-between; */
      justify-content: center;
      flex-wrap: wrap;
  }
}

.salesale{
  font-size: 30px;
  color: white;
  text-shadow: -1px 2px red;
  position: absolute;
  right: 1px;
}
.feat-cardorab{
  display: flex;
  justify-content: space-between;
  align-items:center;
}
.feat-cardorab del{
opacity: 0.6;
border-top:2px solid red;
line-height:0px;
}
@media(max-width:1749px){
  .inp9{
      margin-left: 20px !important;
  }
  .search_top_body {
      width: 1400px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
  }
  .inp11{
      margin-left: 40px;
  }
}

@media(max-width:1460px){
  .inp9{
      margin-left: 20px !important;
  }
  .search_top_body {
      width: 1120px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
  }
  .inp11{
      margin-left: 2%;
  }
}
@media(max-width:1399px){
  .inp11{
      margin-left: 20px;
  }
}
@media(max-width:1424px){
  .inp9{
      margin-left: 0px !important;
  }
}

.inp9{
  margin-left: 0px;

}
@media(max-width:1049px){
  .inp10{
      margin-left: 40px;
      
  }
}


  
  /* ----- White Block ---------------------------------------*/ 
      #corner-ribbon > div {
          display            : block;
          background         : white;
          
          
          box-shadow         : 0px 1px 5px 0px rgba(0,0,0,0.7); 
          -webkit-box-shadow : 0px 1px 5px 0px rgba(0,0,0,0.7);
  
      position           : relative;
          top                : 50px;
          left               : 50%;
      margin-left        : -100px;
      
  
  }
  
  /* ----- Ribbon Container ---------------------------------------*/ 
  #corner-ribbon > div > div {
      background: transparent;
      height: 200px;
      width: 200px;
      position: absolute;
      z-index: 1;
      top: -60px;
      left: 80px;
      overflow: hidden;
  }
  
  /* ----- Top Curl ---------------------------------------*/ 
      #corner-ribbon > div > div:before {
          content               : "";
          display               : block;
          -webkit-border-radius : 10px 10px 0px 0px;
          border-radius         : 10px 10px 0px 0px;
          width                 : 50px;
          height                : 10px;
          position              : absolute;
          right                 : 86px;
  
          background: #0e7c7b; /* Old browsers */
          /* IE9 SVG, needs conditional override of 'filter' to 'none' */
          
  
      }
  
  /* ----- Right Curl ---------------------------------------*/ 
      #corner-ribbon > div > div:after {
          content               : "";
          display               : block;
          -webkit-border-radius : 0px 10px 10px 0px;
          border-radius         : 0px 10px 10px 0px;
          width                 : 10px;
          height                : 50px;
          position              : absolute;
          right                 : 0px;
          top                   : 85px;
  
          background: #0e7c7b; /* Old browsers */
          /* IE9 SVG, needs conditional override of 'filter' to 'none' */
          /* background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI1NSUiIHN0b3AtY29sb3I9IiMwZjMzMGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5OSUiIHN0b3AtY29sb3I9IiMwMDhhM2IiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); */
          
  
  
      }
  
  /* ----- Ribbon ---------------------------------------*/ 
      #corner-ribbon > div > div > div {
          width              : 200px;
          height             : 40px;
          position           : relative;
          top                : 30px;
          right              : -50px;
          z-index            : 1;
          overflow           : hidden;
          transform          :rotate(45deg);
          -ms-transform      :rotate(45deg); /* IE 9 */
          -moz-transform     :rotate(45deg); /* Firefox */
          -webkit-transform  :rotate(45deg); /* Safari and Chrome */
          -o-transform       :rotate(45deg); /* Opera */
          box-shadow         : inset 0px 0px 0px 3px#0e7c7b,inset 0px 0px 0px 4px rgba(0,0,0,0.5),inset 0px 0px 0px 5px rgba(255,255,255,0.4), 0px 21px 5px -18px rgba(0,0,0,0.8); 
          -webkit-box-shadow : inset 0px 0px 0px 3px#0e7c7b,inset 0px 0px 0px 4px rgba(0,0,0,0.5),inset 0px 0px 0px 5px rgba(255,255,255,0.4), 0px 21px 5px -18px rgba(0,0,0,0.8);
                      
          background:#0e7c7b; /* Old browsers */
          /* IE9 SVG, needs conditional override of 'filter' to 'none' */
          background: -moz-linear-gradient(left,  #0e7c7b,1 0%, rgba(0,138,59,1) 51%, #0e7c7b 100%); /* FF3.6+ */
          background: -webkit-gradient(linear, left top, right top, color-stop(0%,#0e7c7b,1), color-stop(51%,rgba(0,138,59,1)), color-stop(100%,#0e7c7b)); /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(left,  #0e7c7b,1 0%,rgba(0,138,59,1) 51%,#0e7c7b 100%); /* Chrome10+,Safari5.1+ */
          background: -o-linear-gradient(left,  #0e7c7b,1 0%,rgba(0,138,59,1) 51%,#0e7c7b 100%); /* Opera 11.10+ */
          background: -ms-linear-gradient(left,  #0e7c7b,1 0%,rgba(0,138,59,1) 51%,#0e7c7b 100%); /* IE10+ */
          background: linear-gradient(to right,  #0e7c7b,1 0%,rgba(0,138,59,1) 51%,#0e7c7b 100%); /* W3C */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00722d', endColorstr='#00561c',GradientType=1 ); /* IE6-8 */
          display: flex;
          justify-content: center;
          align-items: center;
  
      }
      
  /* ----- Top Glare ---------------------------------------*/ 		
      #corner-ribbon > div > div > div:before {
          content           : "";
          display           : block;
          height            : 72px;
          width             : 13px;
          position          : absolute;
          top               : -15px;
          left              : 30px;
          transform         : rotate(45deg);
          -ms-transform     : rotate(45deg);
          -moz-transform    : rotate(45deg);
          -webkit-transform : rotate(45deg);
          -o-transform      : rotate(45deg);
          
          /* IE9 SVG, needs conditional override of 'filter' to 'none' */
          background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjYiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
          background: -moz-linear-gradient(left,  rgba(255,255,255,0) 1%, rgba(255,255,255,0.6) 50%, rgba(255,255,255,0) 100%); /* FF3.6+ */
          background: -webkit-gradient(linear, left top, right top, color-stop(1%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,0.6)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 1%,rgba(255,255,255,0.6) 50%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
          background: -o-linear-gradient(left,  rgba(255,255,255,0) 1%,rgba(255,255,255,0.6) 50%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
          background: -ms-linear-gradient(left,  rgba(255,255,255,0) 1%,rgba(255,255,255,0.6) 50%,rgba(255,255,255,0) 100%); /* IE10+ */
          background: linear-gradient(to right,  rgba(255,255,255,0) 1%,rgba(255,255,255,0.6) 50%,rgba(255,255,255,0) 100%); /* W3C */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-8 */
  
      }
  
  /* ----- Right Clear ---------------------------------------*/ 
      #corner-ribbon > div > div > div:after {
          content           : "";
          display           : block;
          height            : 72px;
          width             : 13px;
          position          : absolute;
          bottom            : -20px;
          left              : 160px;
          transform         : rotate(45deg);
          -ms-transform     : rotate(45deg);
          -moz-transform    : rotate(45deg);
          -webkit-transform : rotate(-45deg);
          -o-transform      : rotate(45deg);
  
          /* IE9 SVG, needs conditional override of 'filter' to 'none' */
          background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjYiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
          background: -moz-linear-gradient(left,  rgba(255,255,255,0) 1%, rgba(255,255,255,0.6) 50%, rgba(255,255,255,0) 100%); /* FF3.6+ */
          background: -webkit-gradient(linear, left top, right top, color-stop(1%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,0.6)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 1%,rgba(255,255,255,0.6) 50%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
          background: -o-linear-gradient(left,  rgba(255,255,255,0) 1%,rgba(255,255,255,0.6) 50%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
          background: -ms-linear-gradient(left,  rgba(255,255,255,0) 1%,rgba(255,255,255,0.6) 50%,rgba(255,255,255,0) 100%); /* IE10+ */
          background: linear-gradient(to right,  rgba(255,255,255,0) 1%,rgba(255,255,255,0.6) 50%,rgba(255,255,255,0) 100%); /* W3C */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-8 */
  
      }
  .div12{
      width: 310px;
      margin: 0 12px;
  }
  #div12{
      width: 270px;
  }
  @media(max-width:1516px){
      #div12{
          display: none;
      }
      .div12{
          width: 340px;
      }
      .body_top h2{
          margin-left: 80px;
      width: 120px;
      }
      #inpsearch{
          margin-left: 140px;
      }
  }
  @media(max-width:1137px){
      .div12{
          width: 170px;
      }
      #inpsearch{
          width: 240px;
          margin-left: 60px;
      }
      #input_year{
          width: 240px;
      }
      .body_top h2 {
          margin-left: 60px;
      }

  }
  .ba .featCard_bottom{
    margin-bottom: 0px !important;
    margin-top: 0px !important;
  }