.popular {
    width: 100%;
    margin-top: 20px;
    background-color: #eff3fa;
    padding: 0 5%;
    padding-top: 2%;
}

.pop_btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.popular_top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.popular_btn {
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 50px;
    background-color: #fff;
    color: #2c2c2c;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
}
.popular_top h1{
    width: 280px;
}
.popular_btn:hover {
    border: 1px solid #ff6505;
    background-color: rgba(255, 101, 5, .1)
}

.popular_btn:focus {
    border: 1px solid #ff6505;
    background-color: rgba(255, 98, 0, 0.1);
    color: #ff6505;
}
.featCard_bottom {
    width: 100%;
    margin-top: -9px;
}
.swiper-button-prev:after{
    margin-left: 100px;
}

.swiper-button-next:after{
    margin-left: -140px;
}

.swiper {
    width: 100%;
    min-height: 32vh;
    margin-top: 5%;
}
.swiper-slide{
    /* margin-right: 0px !important; */
}
.feat_card img{
    width:100% !important;
    height: 220px !important;
    border-radius: 10px 10px 0px 0px;
    position: relative;
    z-index: -1;
}
.swiper-button-next,.swiper-button-disabled,.swiper-button-prev,.swiper-button-disabled{
    pointer-events: all !important;
    z-index: 10;
}

.swiper-slide {
    font-size: 18px;
    width: 600px;
    height: 100% !important;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-slide,.swiper-slide-next, .swiperPopCard{
    /* margin-right: 20px !important;
    margin-left: 20px !important; */
} 

.swiperPopCard > .feat_card {
    width: 90%;
    height: 100%;
    margin-left: 30px;
}
/* @media (max-width: 1460px) {
    .popular {
        padding: 0 5%;
        padding-top: 5%;
    }
}
@media (max-width: 991px) {
    .popular_top {
        display: flex;
        flex-direction: column;
    }
    .popular_top > h1 {
        margin-bottom: 20px;
    }
    .swiper {
        height: 60vh;
    }
}
.swiper-container {
    min-height: 400px;
}
@media (max-width: 560px) {
    .pop_btns {
        width: 90%;
        overflow-x: scroll;
    }
    .popular {
        padding-bottom: 100px;
    }
    .swiper, .swiper-container {
        padding-bottom: 40px;
        
    }
    .popular_btn {
        min-width: 100px !important;
        height: 35px !important;
        font-size: 14px !important;
        margin: 0 10px;
    }
    .swiperPopCard > .feat_card > .featured_img {
        height: 70% !important;
    }
} */

@media (max-width:1700px) {
    /* .swiper-button-prev:after{
        margin-left: 100px;
        position: absolute;
        top: 140px;
    } */
    
    /* .swiper-button-next:after{
        margin-left: 30px !important;
        position: absolute;
        top: 140px;
    } */

}
@media (max-width:1460px) {
    /* .swiper-button-next:after{
        margin-left: 130px !important;
    } */

}
@media (max-width:1100px) {
    .swiper-button-prev:after{
        margin-left: 100px;
        position: absolute;
        top: 200px;
    }
    .swiper-button-next:after{
        margin-left: 130px !important;
        position: absolute;
        top: 200px;
    }
    .swiperPopCard > .feat_card{
        margin-left: 5px;
    }

}
@media (max-width:900px) {
    .feat_card img{
        min-height: 230px !important;
    }
    .swiper-button-prev:after{
        margin-left: 100px;
        position: absolute;
        top: 150px;
    }
    .swiper-button-next:after{
        margin-left: 110px !important;
        position: absolute;
        top: 150px;
    }

}
@media (max-width:600px) {
    .feat_card img{
        min-height: 230px !important;
    }
    .swiper-button-prev:after{
        margin-right: -20px !important;
        margin-bottom: 20px;
    }
    .swiper-button-next:after{
        margin-left: 20px !important;
        margin-bottom: 20px;
    }
    .popular_btn{
        margin-top: 15px;
    }
    .pop_btns{
        margin-top: 15px;
        margin-left: 0px !important;
    }
    .popular_top h1{
        width: auto;
    }
}
@media(max-width:900px){
    /* .popular_top{
        display: block;
    } */
    .pop_btns{
        margin-top: 15px;
        margin-left: -10px;
    }
    .popular_top {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}
body{
    background: #ccc;
}
/* ----- White Block ---------------------------------------*/ 
    #corner-ribbon > div {
        display            : block;
        background         : white;
        
        
        box-shadow         : 0px 1px 5px 0px rgba(0,0,0,0.7); 
        -webkit-box-shadow : 0px 1px 5px 0px rgba(0,0,0,0.7);

    position           : relative;
        top                : 50px;
        left               : 50%;
    margin-left        : -100px;

}

/* ----- Ribbon Container ---------------------------------------*/ 
#corner-ribbon > div > div {
    background: transparent;
    height: 200px;
    width: 200px;
    position: absolute;
    z-index: 10;
    top: -60px;
    left: 80px;
    overflow: hidden;
}

/* ----- Top Curl ---------------------------------------*/ 
    #corner-ribbon > div > div:before {
        content               : "";
        display               : block;
        -webkit-border-radius : 10px 10px 0px 0px;
        border-radius         : 10px 10px 0px 0px;
        width                 : 50px;
        height                : 10px;
        position              : absolute;
        right                 : 86px;

        background: #852b07; /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        

    }

/* ----- Right Curl ---------------------------------------*/ 
    #corner-ribbon > div > div:after {
        content               : "";
        display               : block;
        -webkit-border-radius : 0px 10px 10px 0px;
        border-radius         : 0px 10px 10px 0px;
        width                 : 10px;
        height                : 50px;
        position              : absolute;
        right                 : 0px;
        top                   : 85px;

        background: #852b07; /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        /* background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI1NSUiIHN0b3AtY29sb3I9IiMwZjMzMGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5OSUiIHN0b3AtY29sb3I9IiMwMDhhM2IiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); */
        


    }

/* ----- Ribbon ---------------------------------------*/ 
    #corner-ribbon > div > div > div {
        width              : 200px;
        height             : 40px;
        position           : relative;
        top                : 30px;
        right              : -50px;
        z-index            : 1;
        overflow           : hidden;
        transform          :rotate(45deg);
        -ms-transform      :rotate(45deg); /* IE 9 */
        -moz-transform     :rotate(45deg); /* Firefox */
        -webkit-transform  :rotate(45deg); /* Safari and Chrome */
        -o-transform       :rotate(45deg); /* Opera */
        box-shadow         : inset 0px 0px 0px 3px#ff4605,inset 0px 0px 0px 4px rgba(0,0,0,0.5),inset 0px 0px 0px 5px rgba(255,255,255,0.4), 0px 21px 5px -18px rgba(0,0,0,0.8); 
        -webkit-box-shadow : inset 0px 0px 0px 3px#ff4605,inset 0px 0px 0px 4px rgba(0,0,0,0.5),inset 0px 0px 0px 5px rgba(255,255,255,0.4), 0px 21px 5px -18px rgba(0,0,0,0.8);
                    
        background:#ff4605; /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: -moz-linear-gradient(left,  #ff4605,1 0%, rgba(0,138,59,1) 51%, #ff6505 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ff4605,1), color-stop(51%,rgba(0,138,59,1)), color-stop(100%,#ff6505)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left,  #ff4605,1 0%,rgba(0,138,59,1) 51%,#ff6505 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left,  #ff4605,1 0%,rgba(0,138,59,1) 51%,#ff6505 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(left,  #ff4605,1 0%,rgba(0,138,59,1) 51%,#ff6505 100%); /* IE10+ */
        background: linear-gradient(to right,  #ff4605,1 0%,rgba(0,138,59,1) 51%,#ff6505 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00722d', endColorstr='#00561c',GradientType=1 ); /* IE6-8 */
        display: flex;
        justify-content: center;
        align-items: center;

    }
    
/* ----- Top Glare ---------------------------------------*/ 		
    #corner-ribbon > div > div > div:before {
        content           : "";
        display           : block;
        height            : 72px;
        width             : 13px;
        position          : absolute;
        top               : -15px;
        left              : 30px;
        transform         : rotate(45deg);
        -ms-transform     : rotate(45deg);
        -moz-transform    : rotate(45deg);
        -webkit-transform : rotate(45deg);
        -o-transform      : rotate(45deg);
        
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjYiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
        background: -moz-linear-gradient(left,  rgba(255,255,255,0) 1%, rgba(255,255,255,0.6) 50%, rgba(255,255,255,0) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(1%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,0.6)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 1%,rgba(255,255,255,0.6) 50%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left,  rgba(255,255,255,0) 1%,rgba(255,255,255,0.6) 50%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(left,  rgba(255,255,255,0) 1%,rgba(255,255,255,0.6) 50%,rgba(255,255,255,0) 100%); /* IE10+ */
        background: linear-gradient(to right,  rgba(255,255,255,0) 1%,rgba(255,255,255,0.6) 50%,rgba(255,255,255,0) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-8 */

    }

/* ----- Right Clear ---------------------------------------*/ 
    #corner-ribbon > div > div > div:after {
        content           : "";
        display           : block;
        height            : 72px;
        width             : 13px;
        position          : absolute;
        bottom            : -20px;
        left              : 160px;
        transform         : rotate(45deg);
        -ms-transform     : rotate(45deg);
        -moz-transform    : rotate(45deg);
        -webkit-transform : rotate(-45deg);
        -o-transform      : rotate(45deg);

        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjYiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
        background: -moz-linear-gradient(left,  rgba(255,255,255,0) 1%, rgba(255,255,255,0.6) 50%, rgba(255,255,255,0) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(1%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,0.6)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 1%,rgba(255,255,255,0.6) 50%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left,  rgba(255,255,255,0) 1%,rgba(255,255,255,0.6) 50%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(left,  rgba(255,255,255,0) 1%,rgba(255,255,255,0.6) 50%,rgba(255,255,255,0) 100%); /* IE10+ */
        background: linear-gradient(to right,  rgba(255,255,255,0) 1%,rgba(255,255,255,0.6) 50%,rgba(255,255,255,0) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-8 */

    }
    .swiper, swiper-container{
        padding-top: 10px !important;
    }